# Dependencies
node_modules

# Build output
dist/
build/

# Playground (only testing)
playground/dist/
/test
# vite.config.js

# Dev files for development
src/dev

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

# Environment variables
.env

# Editor
.vscode/
.idea/
*~
*.swp
*.swc

# Temporary files
tmp/
temp/

# Roadmap files
.roadmap/