/* @import "tailwindcss";
@plugin "tailwind-scrollbar"; */

:root {
	--bg-radios: radial-gradient(circle,
			var(--white) 0%,
			var(--white) 35%,
			transparent 35%);
}

;

@keyframes spin-slow {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes spin-fast {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes spin-reverse {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

@keyframes draw {
	0% {
		stroke-dashoffset: 40;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

.animate-spin-slow {
	animation: spin-slow 2s linear infinite;
}

.animate-spin-fast {
	animation: spin-fast 0.5s linear infinite;
}

.animate-spin-reverse {
	animation: spin-reverse 1s linear infinite;
}

.animate-reverse {
	animation-direction: reverse;
}

.radio-checked {
	background-image: radial-gradient(circle,
			white 0%,
			white 35%,
			transparent 35%);
}

.animate-draw {
	animation: draw .3s ease-in-out both;
}